<h1>Student Info</h1>
<ul>
  <li>
    Name: <%= @student.name %>
  </li>
  <li>
    Birthday: <%= @student.birthday.strftime("%m/%d/%Y")  %>
  </li>
  <li>
    Hometown: <%= @student.hometown.capitalize %>
  </li>
</ul>
